/* SLIMBOX */


/* Credit: http://www.templatemo.com */

body {
    margin: 0;
    padding: 0;
    color: #e2e2e2;
    font-size: 14px;
    line-height: 1.6em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #313030;
    background-image: url(/images/debut_light_2X.png);
    background-position: center top;
    background-repeat: repeat
}

a,
a:link,
a:visited {
    color: #000;
    font-weight: normal;
    text-decoration: none
}

ul,
li {
    padding: 0;
    margin: 0;
    /*list-style:none;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    margin: 0 0 30px;
    padding: 5px 0
}

h2 {
    font-size: 24px;
    margin: 0 0 25px;
    padding: 5px 0
}

h3 {
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0;
}

h4 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}

h5 {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    text-align: justify;
}

h6 {
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
    font-weight: 700
}

p {
    font-size: 14px;
    margin: 0 0 15px 0;
    font-size: 14px;
    text-align: justify;
    color: #000
}


/*p a, p a:link, p a:visited { color: #00CCFF; font-weight: normal; text-decoration: none }*/

p a,
p a:link,
p a:visited {
    font-weight: normal;
    text-decoration: underline;
}

p a:hover {
    color: #CC66FF;
    text-decoration: none;
}

.clear {
    clear: left;
}

blockquote.testimonial_block {
    margin: 40px;
    background: url(/images/icon_testimonial.png) left center no-repeat;
    padding-left: 120px
}

cite {
    font-weight: bold;
    color: #fff;
}

cite a,
cite a:link,
cite a:visited {
    font-size: 12px;
    text-decoration: none;
    font-style: normal
}

cite span {
    font-weight: 400;
    color: #ccc;
}

.list_bullet {
    margin: 10px 0 10px 15px;
    padding: 0;
    list-style: none
}

.list_bullet li {
    color: #fff;
    margin: 0 0 7px 0;
    padding: 0 0 0 20px;
    background: url(/images/templatemo_list.png) no-repeat scroll 0 6px
}

.list_bullet li a {
    color: #fff;
    font-weight: normal;
    text-decoration: none
}

.list_bullet li a:hover {
    color: #fff
}

.no_bullet {
    margin: 0;
    padding: 0;
    list-style: none
}

.no_bullet li {
    margin: 0 0 20px 0;
    padding: 0
}

a.header {
    display: block;
    font-weight: 700
}

.half {
    width: 330px
}

.h20 {
    height: 20px
}

.h40 {
    height: 40px
}

#welcome-btn {
    margin-bottom: 20px;
    color: gray;
}

#nextBtn {
    margin-bottom: 20px;
    color: gray;
}

#prevBtn {
    margin-bottom: 20px;
    color: gray;
}

#next-btn {
    width: 220px;
    color: gray;
}

#consent-btn {
    margin-top: 250px;
    color: gray;
}

#bonus-btn {
    margin-top: 230px;
    color: gray;
}

#end-btn {
    margin-top: 200px;
    color: gray;
}


#tutorial-color-btn {
    margin-top: 10px;
    color: gray;
}

#tutorial-process-btn {
    margin-top: 100px;
    color: gray;
}

#qual1-btn {
    margin-top: 130px;
    color: gray;
}

#qualF-btn {
    margin-top: 340px;
    color: gray;
}

#qual2-btn {
    margin-top: 3px;
    color: gray;
}

#survey-btn {
    color: gray;
}

#task-start-btn {
    margin-top: 200px;
    color: gray;
}

#task-start-btn-cue {
    margin-top: 200px;
    color: gray;
}

#survey {
    margin-left: 60px;
}

#cue {
    margin-top: 200px;
    text-align: center;
    font-size: 25px;
}

#color_row,
#name_row {
    margin-left: 50px;
}

#game-header,
#task-question {
    text-align: center;
}

#candyArea {
    text-align: center;
    margin-bottom: 50px;
}

#candy-btn,
#submit-mm,
#submit-gm,
#submit-yes,
#submit-no {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 220px;
    height: 50px;
}

#house-image,
#pair-image {
    margin: auto;
    padding-bottom: 50px;
    height: 325px;
}

#house-image {
    display: block;
}

#payment-bonus {
    color: red;
    font-size: 16px;
}

#imageArea {
    display: block;
    text-align: center;
    white-space: nowrap;
}

#imageAreaLeft {
    display: inline;
}

#imageAreaRight {
    display: inline;
}

#pair-image {
    display: inline;
}

#answerArea {
    text-align: center;
    margin-bottom: 50px;
}

#answerAreaLeft {
    display: inline-block;
    margin-right: 30px;
}

#answerAreaRight {
    display: inline-block;
    margin-left: 30px;
}

#history {
    padding-left: 25px;
    padding-right: 25px;
}

#history-table {
    margin-bottom: 35px;
    width: 100%;
}

#history-image {
    width: 50px;
    height: 50px;
}

.word {
    text-align: center;
}

#q2,
#q3 {
    text-align: center;
    font-size: 20px;
}

#q2-option,
#q3-option {
    margin-left: 50px;
}

#taskWord {
    font-size: 60px;
    margin-top: 120px;
}

#example-word {
    font-size: 20px;
}

.btn {
    display: inline-block;
    color: gray;
    margin: 0 auto;
    -moz-box-shadow: inset 0px 0px 16px -25px #ffffff;
    -webkit-box-shadow: inset 0px 0px 16px -25px #ffffff;
    box-shadow: inset 0px 0px 16px -25px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 2px solid #b6b6b6;
    /*color:#666666;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 121px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 0px #ffffff;
}

.btn:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color: #e9e9e9;
}

.btn:active {
    position: relative;
    top: 1px;
}

img {
    margin: 0;
    padding: 0;
    border: none
}

.img_border {
    background: #525252;
    padding: 4px;
    border: 1px solid #282828
}

.img_nom {
    display: block;
    margin-bottom: 15px
}

.img_fl {
    float: left;
    margin: 3px 15px 5px 0
}

.img_fr {
    float: left;
    margin: 3px 0 5px 15px
}

.left {
    float: left
}

.right {
    float: right
}

#templatemo_header_wrapper {
    width: 100%;
    background: url(/images/templatemo_header.png) center bottom no-repeat
}

#templatemo_header {
    width: 800px;
    margin: 0 auto;
    padding: 35px 20px 40px;
    background: url(/images/templatemo-header-bg.png) no-repeat center;
    position: relative;
}

.templatemo_header_bg {
    position: absolute;
    right: 157px;
    top: 14px;
    cursor: default;
}

#templatemo_main_wrapper {
    width: 1000px;
    /*height: 3000px;*/
    margin: auto;
    padding: 9px;
    background: url(/images/templatemo_content_bg.png) no-repeat;
    background-size: 100% 100%;
}

#templatemo_main {
    width: 1000px;
    /*height: 3000px;*/
    margin: auto;
    overflow: hidden;
}

#templatemo_footer_wrapper {
    width: 100%;
    background: url(/images/templatemo_footer.png) center top no-repeat
}

#templatemo_footer {
    width: 780px;
    margin: 0 auto;
    padding: 20px 20px;
    color: #999999;
    text-align: center;
}

#templatemo_footer a {
    color: #999999;
}

#site_title {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center
}

#site_title a {
    font-size: 18px;
    color: #000;
    font-weight: 700
}

.instruction {
    padding: 25px 40px 30px;
    font-size: 15px;
}

.instruction2 {
    padding: 18px;
    font-size: 13px;
}

.sub-instruction {
    padding: 18px;
    font-size: 13px;
}

.color_instruction {
    margin-left: 300px;
    margin-top: 0px;
}

.section {
    position: relative;
    float: left;
    width: 1000px;
    /*height: 3000px;*/
    margin-right: 20px;
    /*background: #d3d3d3;*/
}

.section_with_padding {
    padding: 40px;
    width: 720px;
    height: 400px;
}

.section a.home_btn {
    position: absolute;
    top: 20px;
    right: -1px;
    width: 52px;
    height: 45px;
    display: block;
    background: url(/images/home_btn.png);
    text-indent: -10000px
}

.section a.page_nav_btn {
    position: absolute;
    display: block;
    width: 77px;
    height: 27px;
    line-height: 27px;
    font-weight: 700;
    bottom: 20px;
    text-align: center
}

.section a.previous {
    left: 0;
    background: url(/images/previous_btn.png) left center no-repeat
}

.section a.next {
    right: 0;
    background: url(/images/next_btn.png) right center no-repeat
}

.home_box {
    width: 400px;
    height: 600px;
}

.row1 {
    width: 400px;
    height: 120px
}

.row2 {
    width: 400px;
    height: 240px
}

.box1 {
    background: #9168b3 url(/images/templatemo_01.png) scroll 20px 25px no-repeat
}

.box1:hover {
    background-color: #7c549d
}

.box2 {
    background: #a8b368 url(/images/templatemo_02.png) scroll 20px 25px no-repeat
}

.box2:hover {
    background-color: #909b51
}

.box3 {
    background: #b36c68 url(/images/templatemo_03.png) scroll 20px 25px no-repeat
}

.box3:hover {
    background-color: #9d5652
}

.box4 {
    background: #636363 url(/images/templatemo_04.png) scroll 20px 25px no-repeat
}

.box4:hover {
    background-color: #4b4b4b
}

.box5 {
    background: #413959 url(/images/twitter.png) scroll 18px 15px no-repeat
}

.box5:hover {
    background-color: #302945
}

.box6 {
    background: #3c3b3b
}

.home_box .box_with_padding {
    padding: 25px 15px 15px 140px
}

#content .home_box h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px
}

#home_gallery {
    position: relative;
}

#mini_contact_form {
    padding: 15px;
    width: 370px
}

#mini_contact_form .input_field {
    display: block;
    margin-left: 5px;
    float: left;
    width: 78px;
    padding: 2px;
    height: 18px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #999999;
    border: 1px solid #525252;
    background: #292929;
    margin-bottom: 5px;
}

#mini_contact_form textarea {
    clear: both;
    width: 160px;
    height: 50px;
    padding: 2px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #999999;
    border: 1px solid #525252;
    background: #292929;
    margin-bottom: 10px;
}

#mini_contact_form .submit_btn {
    display: block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    background: #15171d;
    color: #999999;
    cursor: pointer;
    border: 1px solid #30333c;
    padding: 4px 10px;
    margin-right: 8px;
}

#mini_contact_form .col_half {
    width: 185px
}

#social_links {}

#social_links li {
    width: auto;
    height: auto;
    padding: 0;
    background: none;
}

#social_links li a {
    display: block;
    float: left;
    width: 100px;
    height: 48px;
    line-height: 48px;
    padding: 5px 0 5px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    background-position: left;
    background-repeat: no-repeat
}

#social_links li a.facebook {
    background-image: url(/images/facebook.png)
}

#social_links li a.flickr {
    background-image: url(/images/flickr.png)
}

#social_links li a.skype {
    background-image: url(/images/skype.png)
}

#social_links li a.twitter {
    background-image: url(/images/twitter-2.png)
}

#social_links li a.vimeo {
    background-image: url(/images/vimeo.png)
}

#social_links li a.youtube {
    background-image: url(/images/youtube.png)
}

#gallery {}

#gallery li {
    width: auto;
    height: auto;
    float: left;
    width: 200px;
    height: 120px;
    padding: 0;
    background: none;
}

#gallery li a {
    display: block;
}

#gallery li a img {}

#contact_form {
    padding: 0;
    width: 330px
}

#contact_form form {
    margin: 0px;
    padding: 0px;
}

#contact_form form .input_field {
    width: 150px;
    padding: 4px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #999999;
    border: 1px solid #525252;
    background: #292929;
    margin-bottom: 10px;
}

#contact_form form label {
    display: block;
    font-size: 11px
}

#contact_form form textarea {
    clear: both;
    width: 320px;
    height: 120px;
    padding: 4px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #999999;
    border: 1px solid #525252;
    background: #292929;
    margin-bottom: 10px;
}

#contact_form form .submit_btn {
    font-size: 11px;
    font-weight: bold;
    background: #15171d;
    color: #999999;
    cursor: pointer;
    border: 1px solid #30333c;
    padding: 5px 10px;
    margin: 0px;
}

#lbOverlay {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
}

#lbCenter,
#lbBottomContainer {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;
}

.lbLoading {
    background: #fff url(/images/loading.gif) no-repeat center;
}

#lbImage {
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}

#lbPrevLink,
#lbNextLink {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    outline: none;
}

#lbPrevLink {
    left: 0;
}

#lbPrevLink:hover {
    background: transparent url(/images/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
    right: 0;
}

#lbNextLink:hover {
    background: transparent url(/images/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
    line-height: 1.4em;
    text-align: left;
    border: 10px solid #fff;
    border-top-style: none;
}

#lbCloseLink {
    display: block;
    float: right;
    width: 66px;
    height: 22px;
    background: transparent url(/images/closelabel.gif) no-repeat center;
    margin: 5px 0;
    outline: none;
}

#lbCaption,
#lbNumber {
    margin-right: 71px;
}

#lbCaption {
    font-weight: bold;
}

.emphasize {
    font-weight: bold;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

table, th, td{
    text-align: center;
}

table.bordertable {
    /*border: 5px outset;*/
    border-collapse: collapse;
    /*padding:3px;*/
    text-align: center;
    color: #000;
}

table.bordertable th,
table.bordertable td {
    border: 1px solid #000;
    padding: 3px;
    text-align: center;
    color: #000;
    vertical-align: middle;
}

table.tasktable td {
    padding: 0px 5px 0px;
    vertical-align: middle;
}


/*
table.bordertable th
{
	border:1px solid #000;
	border-collapse:collapse;
	padding:3px;
	text-align: center;
	color: #000;
}*/

table.nobordertable {
    border: none;
    padding: 3px;
    text-align: center;
    color: #000;
}

table.nobordertable th {
    border: none;
    padding: 3px;
    text-align: center;
    color: #000;
}

table.nobordertable td {
    border: none;
    padding: 3px;
    text-align: center;
    color: #000;
}

#content {
    overflow: hidden;
    width: 7000px;
    position: relative;
    /*height: 3000px;*/
    /*background: #d3d3d3;*/
    /*background: #FFF3E0;*/
    background: #FFF6E5;
    /*background: #FFFFFF;*/
}
