<template name="beforeRealTask">
    <div id="welcome-instruction" class="instruction">
        <h2 style="margin: 0 0 0px">Real Forecasting Game</h2>
        <hr style="border-width: 2px; margin: 1px 0px 15px;">
        <br>
        <h5> 
            You enterred the <strong>REAL</strong> game! Please note: <br><br>
            &nbsp;&bull;&nbsp;&nbsp;This experiment has 3 rounds.
            <br><br>
            &nbsp;&bull;&nbsp;&nbsp;In each round, you’ll be given {{initialPoints}} experimental points to allocate across your predictions for 5 events. <br><br>
            &nbsp;&bull;&nbsp;&nbsp;You will get a base payment immediately after completing this HIT.<br><br>
            &nbsp;&bull;&nbsp;&nbsp;You will get your bonus payment within one week after the outcome of each event is realized.  <br><br>
            &nbsp;&bull;&nbsp;&nbsp;You cannot go back to previous rounds, otherwise, the answers you have filled in will be reset.  <br><br>
        </h5>
    </div>
    <div id="buttonArea" style="text-align: center;">
        <br>
        <button href="" class="btn" id="prevBtn"> &lt;&lt; Prev</button>
        &nbsp;
        <button href="" class="btn" id="nextBtn"> Next &gt;&gt; </button>
        <br>
        <br>
    </div>
</template>