<template name="BrierWelcome">
    <div id="welcome-instruction" class="instruction">
        <h1>Welcome!</h1>
        <h4> <strong>HIT Introduction</strong></h4>
        <h5>This HIT is a scientific experiment aiming to understand how well people can make predictions. This HIT contains three independent rounds. In each round, you will be asked to predict how likely each of 5 real-world events will happen. For each event, you need to specify a number between 0 and 1 representing how likely you think the event will happen. </h5>
        <h4 style="color: ;"> <strong>Payment</strong></h4>
        <h5>You'll receive a base payment of <span style="color: red;">$0.2</span> immediately after you complete the entirely HIT. Moreover, for each event, we'll score your prediction based on the furture event outcome and convert your score into a <span style="color: red;"> bonus payment (approximately $0.75)</span>. Your total bonus of this HIT is the sum of the bonuses you get on all events. The total bonus will be paid out in a week, after the outcomes of all events are realized. The details of the scoring method will be explained after you agree to participate in the experiment in the next page.
        </h5>

        <h4 style="margin: 0 0 0px;"><strong> Have fun with this HIT!</strong></h4>
    </div>
    <div id="buttonArea" style="text-align: center">
        <!--h5 style="text-align: center;">
		<strong> Last but not least, happy fun with this HIT!</strong>
		</h5-->
        <button href="" class="btn" id="nextBtn" style="width: 250px">Next</button>
    </div>
</template>