<template name="end">
	<div class="instruction">
		<h5><strong>Thanks for taking our HIT!</strong></h5>
		<br>
		<p>Do you have any comments for us? (e.g. Did you find the game interesting? Did you notice any bugs?)</p>
		<br>
		<p>Remember that your bonus will be calculated and sent out later</p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="90" rows="8" name="comment" id="comment"></textarea>
		<br><br>

	</div>
	<a href="" class="btn" id="end-btn">Submit</a>
</template>
