<template name="endTutorial">
    <div id="welcome-instruction" class="instruction">
        {{> tutoralHeader}}
        <!--h5 style="text-align: center"> <strong>This tutoral aims to help you hit more bonus by getting you familar with the  procedure and forecasting game mechanics!</strong> </h5-->
        <hr style="border-width: 2px; margin: 1px 0px 15px;">
        <table class="bordertable" style="text-align: center;">
            <tr>
                <td width="250">Step 1. Procedure & Rules</td>
                <td width="250">Step 2. Reward Mechanism</td>
                <td width="250">Step 3. Calculator</td>
                <td width="150" style="color: red;"> Finish Tutorial!</td>
            </tr>
        </table>
        <br>
        <h5> 
            Congratulations! You have just completed the tutorial and are now ready to proceed to the real prediction games. Please click "Start Real Games"
        </h5>
    </div>
    <div id="buttonArea" style="text-align: center;">
        <button href="" class="btn" id="prevBtn"> &lt;&lt; Prev</button>
        &nbsp;
        <button href="" class="btn" id="nextBtn" style="width: 180px;">Start Real Games!</button>
        <br>
        <br>
    </div>
</template>