<template name="payment">
  <div id="welcome-instruction" class="instruction">
		<h1>Round Payment</h1>
    <p>&lt;explanation of bonus payment system&gt;</p>
	</div>
  <div id="answerArea">
    <div id="answerAreaLeft">
      <button type="button" class="btn" id="submit-mm">I got a M&M</button>
    </div>
    <div id="answerAreaRight">
      <button type="button" class="btn" id="submit-gm">I got a gummy bear</button>
    </div>
  </div>
  <div id="buttonArea">
		<a href="" class="btn" style="visibility: hidden;" id="welcome-btn">Next round</a>
	</div>
</template>
