<template name="preview">
    <div id="welcome-instruction" class="instruction">
        <h1>Preview</h1>
        <h4>This HIT is a scientific experiment aiming to understand how well people can make predictions. In this HIT, you will be asked to predict how likely each of several real-world events will happen. For each event, you need to specify a number between 0 and 1 representing how likely you think the event will happen. For example, you may be asked that <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Will Google stock price go up after Thanksgiving?</em>
        <br><br>
        You'll receive a base payment of <span style="color: red;"><strong>$0.2</strong></span> immediately after you complete the entirely HIT. Moreover, you will receive an  approximately <span style="color: red;"><strong>$0.75 bonus payment</strong>.</span> Your bonus payment will be paid out in a week.

        The exact experiment as well as how we calculate your exact bonus payment will be introduced in details after you have accepted this HIT.
        </h4>
        <br>
        <br>
        <h2 style="margin: 0 0 0px; text-align: center; color: orange;"><strong> Have fun with this HIT!</strong></h2>
    </div>
    <div id="buttonArea" style="text-align: center;">
        <button href="" class="btn" id="nextBtn" style="width: 150px; visibility: hidden;">Start HIT!</button>
        <br>
        <br>
    </div>
</template>