<template name="real_image_game">
	<div id="welcome-instruction" class="instruction">
		<h2>Forecasting Task Set {{setNum}}</h2>
		<h4> <strong> Task description: </strong> </h4>
	</div>
	<div id="formArea" class="instruction">
		<form id="taskForm" onSubmit="return false">
			<h4 id="q1head"> Question 1.</h4>
			<div id="q1Area" align="center">
				<img src="/images/1.png" id="q1image" align="center">
				<br>
				<br>
				<table id="q1-table" class="bordertable" align="center">
					<tr>
						<td>
							<h5> Your prediction:</h5>
						</td>
						<td>
							<input type="number" id="pred1" name="pred1" min="0.00" max="1.00"  
							step="0.001" required>
						</td>
						<td> 
							<h5> Your confidence: </h5>
						</td>
						<td>
							<input type="number" id="conf1" name="conf1" min="0.0" max="1.0" 
							step="0.001" required>
						</td>
					</tr>
					<tr>
						<!--<td>
							<h5> Your graphical prediction:</h5>
						</td>-->
						<td colspan="4">
							<table class="nobordertable">
								<tr>
									<td><h5 align="right">Happens:</h5></td>
									<td>
										<input type="range" id="bar1pos" name="bar1posr" min="0.0" max="1.0" step = "0.001"  value="0.5">  
									</td>
									<td align="left">
										{{pred1pos}}
										<!--<output align="left" name="posPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
								<tr>
									<td><h5 align="right">Not Happen:</h5></td>
									<td>
										<input type="range" id="bar1neg" name="bar1neg" min="0.0" max="1.0" step = "0.001"  value="0.5">
									</td>
									<td align="left">
										{{pred1neg}}
										<!--<output align="left" name="negPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			
			<h4 id="q2head"> Question 2.</h4>
			<div id="q2Area" align="center">
				<img src="/images/2.png" id="q2image" align="center">
				<br>
				<br>
				<table id="q2-table" class="bordertable" align="center">
					<tr>
						<td>
							<h5> Your prediction:</h5>
						</td>
						<td>
							<input type="number" id="pred2" name="pred2" min="0.00" max="1.00"  
							step="0.001" required>
						</td>
						<td> 
							<h5> Your confidence: </h5>
						</td>
						<td>
							<input type="number" id="conf2" name="conf2" min="0.0" max="1.0" 
							step="0.001" required>
						</td>
					</tr>
					<tr>
						<!--<td>
							<h5> Your graphical prediction:</h5>
						</td>-->
						<td colspan="4">
							<table class="nobordertable">
								<tr>
									<td><h5 align="right">Happens:</h5></td>
									<td>
										<input type="range" id="bar2pos" name="bar2posr" min="0.0" max="1.0" step = "0.001"  value="0.5">  
									</td>
									<td align="left">
										{{pred2pos}}
										<!--<output align="left" name="posPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
								<tr>
									<td><h5 align="right">Not Happen:</h5></td>
									<td>
										<input type="range" id="bar2neg" name="bar2neg" min="0.0" max="1.0" step = "0.001"  value="0.5">
									</td>
									<td align="left">
										{{pred2neg}}
										<!--<output align="left" name="negPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			
			<h4 id="q3head"> Question 3.</h4>
			<div id="q3Area" align="center">
				<img src="/images/3.png" id="q3image" align="center">
				<br>
				<br>
				<table id="q3-table" class="bordertable" align="center">
					<tr>
						<td>
							<h5> Your prediction:</h5>
						</td>
						<td>
							<input type="number" id="pred3" name="pred3" min="0.00" max="1.00"  
							step="0.001" required>
						</td>
						<td> 
							<h5> Your confidence: </h5>
						</td>
						<td>
							<input type="number" id="conf3" name="conf3" min="0.0" max="1.0" 
							step="0.001" required>
						</td>
					</tr>
					<tr>
						<!--<td>
							<h5> Your graphical prediction:</h5>
						</td>-->
						<td colspan="4">
							<table class="nobordertable">
								<tr>
									<td><h5 align="right">Happens:</h5></td>
									<td>
										<input type="range" id="bar3pos" name="bar3posr" min="0.0" max="1.0" step = "0.001"  value="0.5">  
									</td>
									<td align="left">
										{{pred3pos}}
										<!--<output align="left" name="posPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
								<tr>
									<td><h5 align="right">Not Happen:</h5></td>
									<td>
										<input type="range" id="bar3neg" name="bar3neg" min="0.0" max="1.0" step = "0.001"  value="0.5">
									</td>
									<td align="left">
										{{pred3neg}}
										<!--<output align="left" name="negPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
					
			<h4 id="q4head"> Question 4.</h4>
			<div id="q4Area" align="center">
				<img src="/images/4.png" id="q4image" align="center">
				<br>
				<br>
				<table id="q4-table" class="bordertable" align="center">
					<tr>
						<td>
							<h5> Your prediction:</h5>
						</td>
						<td>
							<input type="number" id="pred4" name="pred4" min="0.00" max="1.00"  
							step="0.001" required>
						</td>
						<td> 
							<h5> Your confidence: </h5>
						</td>
						<td>
							<input type="number" id="conf4" name="conf4" min="0.0" max="1.0" 
							step="0.001" required>
						</td>
					</tr>
					<tr>
						<!--<td>
							<h5> Your graphical prediction:</h5>
						</td>-->
						<td colspan="4">
							<table class="nobordertable">
								<tr>
									<td><h5 align="right">Happens:</h5></td>
									<td>
										<input type="range" id="bar4pos" name="bar4posr" min="0.0" max="1.0" step = "0.001"  value="0.5">  
									</td>
									<td align="left">
										{{pred4pos}}
										<!--<output align="left" name="posPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
								<tr>
									<td><h5 align="right">Not Happen:</h5></td>
									<td>
										<input type="range" id="bar4neg" name="bar4neg" min="0.0" max="1.0" step = "0.001"  value="0.5">
									</td>
									<td align="left">
										{{pred4neg}}
										<!--<output align="left" name="negPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
					
			<h4 id="q5head"> Question 5.</h4>
			<div id="q5Area" align="center">
				<img src="/images/5.png" id="q5image" align="center">
				<br>
				<br>
				<table id="q5-table" class="bordertable" align="center">
					<tr>
						<td>
							<h5> Your prediction:</h5>
						</td>
						<td>
							<input type="number" id="pred5" name="pred5" min="0.00" max="1.00"  
							step="0.001" required>
						</td>
						<td> 
							<h5> Your confidence: </h5>
						</td>
						<td>
							<input type="number" id="conf5" name="conf5" min="0.0" max="1.0" 
							step="0.001" required>
						</td>
					</tr>
					<tr>
						<!--<td>
							<h5> Your graphical prediction:</h5>
						</td>-->
						<td colspan="4">
							<table class="nobordertable">
								<tr>
									<td><h5 align="right">Happens:</h5></td>
									<td>
										<input type="range" id="bar5pos" name="bar5posr" min="0.0" max="1.0" step = "0.001"  value="0.5">  
									</td>
									<td align="left">
										{{pred5pos}}
										<!--<output align="left" name="posPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
								<tr>
									<td><h5 align="right">Not Happen:</h5></td>
									<td>
										<input type="range" id="bar5neg" name="bar5neg" min="0.0" max="1.0" step = "0.001"  value="0.5">
									</td>
									<td align="left">
										{{pred5neg}}
										<!--<output align="left" name="negPred" for="posBar negBar" value="0.5"></output>-->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>

			<br>
			<div id="submitArea">
				<button type="submit" class="btn" id="submit"> Submit & Next </button>
			</div>
		</form>
	</div>
	<!--<img src={{taskImage}} id="game-image">
	<h3 id="task-question">{{taskQuestion}}</h3>
	<div id="answerArea">
		<div id="answerAreaLeft">
			<button type="button" class="btn" id="submit-yes">Yes</button>
		</div>
		<div id="answerAreaRight">
			<button type="button" class="btn" id="submit-no">No</button>
		</div>
	</div>
	<div id="buttonArea">
		<a href="" class="btn" style="visibility: hidden;" id="welcome-btn">Next Task</a>
		<a href="" class="btn" style="visibility: hidden;" id="next-btn">Done</a>
	</div>-->
</template>
