<template name="welcome">
	<div id="welcome-instruction" class="instruction">
		<h1>Welcome!</h1>
		<h4>This HIT is a study in which we would like to test how people react to a forecast elicitation mechanism. You will be given a set of forecast questions, which has only two possible outcomes, i.e., an event will happen or not within a week. You will be given a certain among of budget such that you can report a proability about that the event will happen and put a certain amount of bet from your budget on your reported probibility. After that, we will use a forecast elicitiation mechanism to reward you based on your forecast, your bet, the others' forecasts and bets and the actual outcome. No worries if you don't know the mechanism. We will give you a training phrase where you can get familiar with the forecasting question and the mechanism, and you will be given a base payment for this trainning phrase if you finish the entire HIT.

		We hope this will introduce a fair forecast elicitation mechanism to motivate people making proper forecast.
		</h4>

		<!--
		Given a forecast question, i.e., whether team A will win a game, we hope people can make a prediction on this problem with a specified probability. The mechanism to motive people making forecast is simple: we give you certain budget such that you can bet on an outcome, i.e., team A won't win the game. If you bet on the right outcome, you will share the whole budget people bet on this question, and your share will be propotional to your money put on this outcome. Sometimes, it's too risk to bet all the budget on one outcome. So people will split their budgets on different outcomes. But, here 

		proxy will attend the betting on behalf of you, given your budget and your probability estimation about the outcome. when we do not know the ground-truth (the "real answer") to judge your answer fairly, we try to infer it from your peers’ answers. It’s okay if your peers are wrong (in any possible way, even if you don’t trust any of the recruited peers) - we will be able to figure that out :) A very wrong answer is informative too if you know that it is more likely to be wrong. After all, your answer is as if evaluated against the ground-truth! So we hope this introduce a fair evaluation system for information infusion.</h4>-->
		

	</div>
	<div id="buttonArea">
		<a href="" class="btn" id="welcome-btn">More details</a>
	</div>
</template>
