<template name="welcome">
    <div id="welcome-instruction" class="instruction">
        <h1>Welcome!</h1>
        <h4> <strong>HIT Introduction</strong></h4>
        <h5>This HIT is a scientific experiment aiming to understand how well people can make predictions. In this HIT, you and <span style="color: red;">10-15</span> other participants will participate in a forecasting game.  Each of you will be given some initial experimental points that you can use in the forecasting game. You will be asked to predict how likely each of several real-world events will happen. You can allocate your experimental points across the events to "support" your forecasts. You may win or lose points in the game depending on your decisions, others’ decisions, and the future realized event outcomes. </h5>
        <h4 style="color: ;"> <strong>Payment</strong></h4>
        <h5>This HIT consists of three parts: a tutorial explaining the rules of the forecasting game, the actual forecasting game and an exit survey. You'll receive a base payment of <span style="color: red;">$0.2</span> immediately. Moreover, we’ll convert the total experimental points you have at the end of the forecasting game into U.S. dollars at the exchange rate of 1 point to 1 cent. This will be paid out in a week as a <span style="color: red;"> bonus payment</span>, after the outcomes of all events are realized. The bonus payment is approximately <span style="color: red;">$0.75</span>. But your exact bonus depends on your and others’ decisions in the game and the event outcomes.
        </h5>

        <h4 style="margin: 0 0 0px;"><strong> Have fun with this HIT!</strong></h4>
    </div>
    <div id="buttonArea" style="text-align: center">
        <!--h5 style="text-align: center;">
		<strong> Last but not least, happy fun with this HIT!</strong>
		</h5-->
        <button href="" class="btn" id="nextBtn" style="width: 250px">Next</button>
    </div>
</template>